#CurrentDocumentExportContainer, #RightDocumentExportContainer {
    display: none;
    position: absolute;
    background-color: white;
    flex-direction: column;
    right: 0px;
    top: 60px;
    /* bottom:0px; */
    left: 0px;

    flex-grow: 0;


    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 70px;
    z-index: 20001;

    box-sizing: border-box;

    /* overflow: hidden; */
    /* overflow-y: auto; */

}


.GeneralInput {
    display: flex;
    flex: 1;
    /* height:100%;
    width: 100%; */
    background-color: transparent;
    outline: none;
    border-style: none;


}

.ExportHDocContainer {
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    margin-bottom: 14px;

}

#ExportTextDiv {
    display: flex;
    position: relative;
    /* flex:1; */
    /* box-sizing: border-box; */
    overflow: hidden;
    height: 300px;

    overflow-x: auto;
    overflow-y: auto;
    white-space: pre;
    /* flex-grow: 0; */



    background-color: rgba(37, 38, 39, 0.05);
    min-height: 48px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(37, 38, 39, 0.1);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    box-sizing: border-box;

}

#SourceCodeTextDiv {
    display: flex;
    position: relative;
    /* flex:1; */
    /* box-sizing: border-box; */
    overflow: hidden;
    height: 300px;
    word-wrap: break-word;
    white-space: pre-wrap;

    overflow-x: auto;
    overflow-y: auto;
    /* flex-grow: 0; */



    background-color: rgba(37, 38, 39, 0.05);
    min-height: 48px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(37, 38, 39, 0.1);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    box-sizing: border-box;

}