.alignleft {
    float: left;
    margin-right: 1em;
    /* space between image and text */
    margin-bottom: 0.5em;
    /* optional: space under image */
}

.alignright {
    float: right;
    margin-right: 1em;
    /* space between image and text */
    margin-bottom: 0.5em;
    /* optional: space under image */
}