#CurrentDocumentInfoContainer {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20000;
}

#CurrentDocumentInfo {
    display: flex;
    position: absolute;
    background-color: white;
    flex-direction: column;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;


    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 70px;
    z-index: 20001;

    overflow: hidden;
    overflow-y: auto;


}


.InfoTitle {
    color: rgba(37, 38, 39, 0.8);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;

}

.InfoLinkContianer {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;

}

.InfoLinkTitle {
    color: rgba(37, 38, 39, 0.8);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}

.InfoLinkRowDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(37, 38, 39, 0.05);
    min-height: 48px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(37, 38, 39, 0.1);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}


.InfoLinkUrlDiv {
    display: flex;
    flex: 1;
    color: rgba(37, 38, 39, 0.5);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    overflow-wrap: anywhere;
    min-width: 0;

}

.InfoLinkConnectButtonDiv {
    display: flex;
    margin-left: 8px;
    background-color: rgb(72, 77, 233);
    height: 28px;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    cursor: default;
    flex-shrink: 0;

}

.ConnectedLinkButton {
    color: black;
    background-color: rgba(37, 38, 39, 0.1);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(188, 194, 203);
}

.ConnectableLinkButton:hover {
    opacity: 0.5;
}

.InfoLinkDownloadButtonDiv {
    display: flex;
    margin-left: 8px;
    flex-shrink: 0;
    /* width:20px; */

}



.PageInfo-OneIconComponent {}

.PageInfo-OneIconComponent:hover {
    opacity: 0.5;
}