

html, body{
    margin: 0;
    padding: 0;
}

#popup-header{

    display:flex;
    height:50px;
    background-color: rgb(183, 38, 38);
    justify-content: center;
    align-items: center;


}



#popup-title{
    color:white;
    font-size: 20px;

}

#mainContainer{
    display: none;
    flex-direction: column;
    padding: 15px;

}

#parsing-rules-section{
    display: none;
    flex-direction: column;
}

.vertical-spacer{
    height: 15px;
}

.horizontal-spacer-20{
    width:20px;
}

.horizontal-spacer-3{
    width:3px;
}



#links-container{
    display: flex;
    flex-direction: column;
}

.PopupItemDiv{
    width:250px;
    align-items: center;
    height: 30px;
    display: flex;
}

.MenuTitle{
    font-weight: bold;
}



.LinkRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}



.LinkColumn{
    display: flex;
    flex:1;

    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.LinkTitle{
    font-weight: bold;
}

.LinkButton{
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
}

.LinkButton:hover{
    cursor: pointer;
}

.swDownloadButton:hover{
    cursor: pointer;
}


.LinkDownloadButton {
    display: flex;
    /* background-color: #F68705; */
    width: 30px;
    color: white;
    gap: 5px;
}

.LinkCopyButton{
    background-color: darkslateblue;
    width:50px;
    color: white;
    
}

.LinkSendButton{
    display:flex;
    background-color: #F68705;
    width:50px;
    color: white;
    gap:5px;
}



.RssLinksContainer{
    display:flex;
    flex-direction: column;
    gap:15px;
}


.popup-bottom-link{
    color:dimgray;
}


#fallback-message{
    margin-top: 20px;
    font-size: 14px;
}


.urlConfigTitle{
    margin-top: 20px;
}

.UrlConfigElement{
    display: none;
}

#secondUrlConfigLink{
    margin-top: 10px;
}


#right-page-url-container{
    display: flex;
    flex-direction: column;
   
}



#right-doc-download-button-container{
    display: flex;
    flex:1;
    gap:10px;

}

#right-doc-url-input{
    display: flex;
    flex:1;
    height: 30px;
    padding-left: 5px;
}

#open-in-playground-button{
    display: none;
  
}


